@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #8E4D31;
  --color-secondary: #77574B;
  --color-accent: #685E30;
  --color-neutral-50: #F1DFD9;
  --color-neutral-100: #D8C2BB;
  --color-neutral-200: #A08D86;
  --color-neutral-600: #53433E;
  --color-neutral-800: #3D322E;
  --color-neutral-900: #1A110E;
}
